@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400;1,600;1,700;1,900&family=Roboto:ital,wght@1,700&family=Yusei+Magic&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --main-color: #d90429;
  --text-color: #020102;
  --bg-color: #fff;
}

img {
  width: 100%;
}
body {
  color: var(--text-color);
}
.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
  display: none;
}
.logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color);
}
.logo span {
  color: var(--main-color);
}

.navbar {
  display: flex;
  column-gap: 2rem;
}
.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
